<div class="brown-bg">

    <div class="row">
        <div class="col">
            <div  class="custom-center">
                Invoice

            </div>
        </div>
        <div class="col">
            <div>
                <span class="white-txt txt-bold">Bussiness Name: Cocacola & Company</span>
                <span class="white-txt txt-bold">Bussiness Address: Cocacola & Company</span>
                <div class="col">
                    <span class="white-txt txt-bold">City: Mumbai</span>
                    <span class="white-txt txt-bold">State: Maharastra</span>

                </div>
                <span class="white-txt txt-bold">Contact: 6598254798</span>
            </div>
        </div>

    </div>

    

</div>


<div class="row">
    <div>
        <div class="txt-bold">Bill To: {{ clientData.pan}}</div> 
        <div class="txt-bold">Bussiness Name: {{ clientData.name}}</div> 
        <div class="txt-bold">Address: {{ clientData.address}}</div> 
        <!-- <div class="col">
            <span class="txt-bold">City: </span>
            <span class="txt-bold">State: </span>
        </div> -->
        <div class="txt-bold">Contact Number: {{ clientData.address}}</div> 

    </div>

</div>




<app-product-list></app-product-list>