<label> Select Client: </label>

<select #myselect (change)="selectClient(myselect.value)">

    <option>...</option>
    <option *ngFor="let client of Clients" [value]="client.id"> {{client.name}} </option>

</select>

<button class="btn-primary" (click)="submitSelectedClient()">
    Submit
</button>


<!-- <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Client Name</th>
        <th scope="col">Invoice</th>
        <th scope="col">Price</th>
        <th scope="col">Tax</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let invoice of invoiceList; let i = index">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ invoice.productName}}</td>
        <td>{{ invoice.quantity}}</td>
        <td>{{ invoice.price}}</td>
        <td>{{ invoice.tax}}</td>
        <td>{{ invoice.amount}}</td>
      </tr>
      
    </tbody>
  </table> -->
